.form_delivery_details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.radio_btn {
  border-radius: 8px;
  border: 1px solid #ced9e0;
  background: #f5f8fa;
  padding: 16px 30px 16px 20px;
  display: flex;
  justify-content: space-between;
}
.labels {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
  line-height: normal;
}
.labels label {
  color: #394b59;
  font-size: 16px;
}
.labels p {
  color: #8a9ba8;
  font-size: 14px;
}
.selected {
  border-radius: 8px;
  border: 1px solid #30404d;
  background: #f5f8fa;
  box-shadow: 0px 2px 6px 0px rgba(16, 22, 26, 0.2),
    0px 1px 1px 0px rgba(16, 22, 26, 0.2), 0px 0px 0px 0px rgba(16, 22, 26, 0.1);
}
