.wrapper_message {
  margin: 0 auto;
  max-width: 328px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.wrapper_image {
  margin: 0 auto;
  margin-top: 56px;
}
.wrapper_message p {
  color: #a7a7a7;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.btnHomepage {
  margin: 0 auto;
  margin-bottom: 82px;
  width: 270px !important;
}
.link {
  text-decoration: none;
}
