.wrapper_promo {
  background-color: #f5f8fa;
  padding-top: 72px;
}

.leftSide > * {
  margin-bottom: 20px;
}
.wrapper_title {
  color: #30404d;
}
.wrapper_subtitle {
  color: #758796;
}
.strongText {
  font-weight: 600 !important;
}
.promo_p {
  color: #8a9ba8;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.promo_image {
  margin-bottom: 0;
}

.rightSide {
  display: flex;
  justify-content: flex-end;
}
.wrapper_basket {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 17px;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid #d8e1e8;
  background: #fff;
  width: 480px;
  height: 345px;
}
