.wrapper_form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 20px;
}
.wrapper_form input {
  padding: 14px;
  font-size: 16px;
  font-weight: 400;
  color: #394b59;
  border: 1px solid #e5eaee;
  border-radius: 8px;
}
.radio_input label {
  color: #182026;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}
.wrapper_form input[type="submit"] {
  background-color: #30404d;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  cursor: pointer;
}
.divider {
  width: 255px;
  height: 1px;
  background-color: #e5eaee;
  margin: 8px auto;
}
