html, body {
    font-family: 'Fira Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    position: relative;
    min-height: 100%;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

/* Global Button  */
button {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 7px;
    border: none;
}
.btnLarge {
    padding: 16px;
    font-size: 16px;
}
.btnRegular {
    padding: 12px 16px;
    font-size: 16px;
}
.btnDark {
    background-color: #30404D;;
}
.btnLight {
    background-color: #e5eaee;
}
.btnTransparent {
    background-color: transparent;
}

.text-black {
    color:#30404D;
}
.text-white {
    color: #fff;
}
.btnLink {
    font-size:20px;
    padding: 0;
}
.btnPromo {
    border-radius: 100px;
    background-color: #EBF1F5;
    padding: 10px 25px;   
}
.text-promo {
    color: #5C7080;
    font-size: 12px;
}

/* Swiper Component */

.swiper {
    margin-bottom: 75px;
    overflow-y: visible !important;
    overflow: visible !important;
}

.swiper-slide {
    width: auto !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next {
  background-color: #8a9ba8;
  background-image: url("/images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center right 16px;
  width: auto !important;
  border-radius: 32px;
  top: auto !important;
  right: 0 !important;
  bottom: -73px;
}

.swiper-button-next::before {
  content: "Next";
  display: inline-block;
  padding: 12px 42px 12px 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.swiper-button-prev {
  background-color: #8a9ba8;
  background-image: url("/images/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center left 16px;
  width: auto !important;
  border-radius: 32px;
  top: auto !important;
  left: 0 !important;
  bottom: -73px;
}

.swiper-button-prev::before {
  content: "Previous";
  display: inline-block;
  padding: 12px 16px 12px 42px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}









