.level1 {
    color: #8A9BA8;
    font-size: 48px;
    font-weight: 700;
    max-width: 400px;
    line-height: 60px;
}

.level2 {
    color: #30404D;
    font-size: 32px;
    font-weight: 700;
}
.level3 {
    color: #30404D;
    font-size: 32px;
    font-weight: 600;
}

.level4 {
    color: #8A9BA8;
    font-size: 24px;
    font-weight: 400;
}

.level5 {
    color: #758796;
    font-size: 24px;
    font-weight: 400;
}
.level6 {
    color: #758796;
    font-size: 16px;
    font-weight: 400;
}
.level7 {
    color: #30404D;
    font-size: 24px;
    font-weight: 600;
}
