.category_small {
  border-radius: 12px;
  background-color: #ebf1f5;
  padding: 24px 93px 28px 32px;
}
.category_small_text {
  color: #5c7080;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 16px;
}
.btnTransparent {
  padding-bottom: 20px;
}
