.subfooter {
  background-color: #202b33;
  color: #f5f8fa;
}
.subfooter__container {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.logo {
  margin-right: auto;
}
.CopyrightBar {
  color: #8a9ba8;
  font-family: Fira Sans;
  font-size: 14px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}
