.item_small {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #ced9e0;
    background-color: #fff;
    padding: 12px 19px 12px 16px;
}
.wrapper_title_quantity {
    color: #8a9ba8;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    max-width: 149px;
}
  
.wrapper_delete_price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
  
.wrapper_delete_price button {
    background-color: transparent;
    width: 20px;
    height: 20px;
}
.price {
    color: #394b59;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px; 
}
.price .currency {
    font-size: 18px;
}