.btn {
  margin-top: 16px;
  border-radius: 8px;
  background-color: #f5f8fa;
  padding: 12px 16px;
  color: #30404d;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #f5f8fa;
}
.btn:hover {
  background-color: #ced9e0;
  border: 1px solid #a7b6c2;
}
.btn img {
  margin-left: 8px;
}
