.wrapper_title {
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.title {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}
.wrapper_image {
    margin-left: 150px;
}
.divider{
    height: 1px;
    background-color: #E1E8ED;
    margin-top: 10px;
}
