.wrapper_btn_sort_by {
    position: relative;
}
.btnSortBy {
    color: #30404D;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid transparent;
}
.btnSortBy img {
    margin-left: 5px;
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    z-index: 2;
    padding: 5px;
}
.dropdown li:hover {
    text-decoration: underline;
}
.btnOption {
    color: #30404D;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    margin-top: 10px;
}

  

