.container_checkout_cart {
  z-index: 2;
  margin-top: -100px;
  margin-bottom: 56px;
}
.wrapper_checkout_cart {
  border-radius: 12px;
  border: 1px solid #ced9e0;
  background: #e5eaee;
  margin-top: 24px;
  overflow: hidden;
}
.wrapper_title {
  color: #394b59;
  display: flex;
  gap: 16px;
}
