.wrapper__hero {
    background-color: #F5F8FA;
    padding: 90px 0 120px 0;
}
  
.rightSide {
    display: flex;
    justify-content: flex-end;
}

.rightSide img {
    width: 530px;
    height: 285px;

}
.strongText {
    color: #394B59;
}
.paragraph{
    color: #8A9BA8;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-top: 20px;
    padding-bottom: 30px;
}