.btnContact {
    display: block;
    border-radius: 8px;
    background-color: #E5EAEE;
    padding: 16px 24px;
    width: 200px;
    color: #30404D;
    font-size: 16px;
    font-weight: 600;
}
.btnContact:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}