.ListTitle {
  color: #394b59;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.ListHr {
  background-color: #d8e1e8;
  width: 150px;
}

.ListItem {
  padding-top: 8px;
}
.ListLink {
  text-decoration: none;
  color: #30404d;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
