.NavBar {
  display: inline-flex;
  align-items: center;
}

.navButton {
  color: #30404d;
  font-size: 16px;
  font-family: Fira Sans;
  font-weight: 600;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #ebf1f5;
  text-decoration: none;
}

.navButton:hover,
.navButton:active {
  background-color: #fff;
  border: 1px solid #bfccd6;
}

.navButton img {
  margin-left: 10px;
}
