.form_payment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.radio_btn {
  border-radius: 8px;
  border: 1px solid #ced9e0;
  background: #fff;
  padding: 12px 16px 12px 20px;
  display: flex;
  justify-content: space-between;
}
.labels {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.labels label {
  color: #394b59;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.labels img {
  color: #8a9ba8;
  width: 24px;
  height: 24px;
}
.selected {
  border-radius: 8px;
  border: 1px solid #8a9ba8;
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(16, 22, 26, 0.2),
    0px 1px 1px 0px rgba(16, 22, 26, 0.2), 0px 0px 0px 0px rgba(16, 22, 26, 0.1);
}
